.card--container {
  width: 15em;
  height: 20em;
  text-align: center;
  overflow: auto;
  box-shadow: 0 0 15px 10px lightgray;
  transition: 0.75s;
  margin: 10px;
  display: flex;
  float: left;
}

.card--container a {
  text-decoration: none;
}

.card--container:hover {
  box-shadow: 0 0 15px 10px gray;
}

.card--title {
  font-size: 130%;
  font-weight: 450;
}

.card--img {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.card {
  height: 100%;
  width: 100%;
}

.invis {
  display: none;
}
